*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: roboto;
}

body{
    background: rgb(19, 24, 34);
    font-size: 1em;
    height: 1000px;
    
    color: #ffffff;
}

/*---------HEADER---------*/
.header-base{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 5em;
    position: fixed;
    width: 100%;
    background: rgb(19, 24, 34);
    z-index: 100;
}

.header-general{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap:wrap;
    background: rgb(19, 24, 34);
    width: 1200px;
    height: 5em;
    padding: 0 1.5em;
   
}

.header-general .author{
    display: flex;
    align-items: center;
    gap: 0.9em;
    height: 100%;
}

.header-general .author div span{
    font-weight: 300;
}

.header-general .author div picture img{
    width: 2.5em;
    border-radius: 50%;
}

.header-general .nav{
    height: 100%;
    display: flex;
    align-items: center;
}

.header-general .nav ul{
    list-style: none;
    display: flex;
    gap: 1em;
}

.header-general .nav ul li a{
    text-decoration: none;
    color: #dadada;
    font-weight: 300;
}

.header-general .nav ul li .menu-active{
    color: rgb(94, 150, 255);
}

.header-margin{
    background: rgb(19, 24, 34);
    height: 5em;
}

/*----------CONTAINER-BODY----------*/

.main-body{
    
}

.main-body .article{
    display: flex;
    justify-content: center;
}

.img-esteban{
    width: 34em;
}

.main-body .article .section-inicio{
    display: flex;
    justify-content: center;
    position: relative;
    width: 1200px;
}

.main-body .article .section-inicio .capa-inicio{
    position: absolute;
    display: flex;
    justify-content: space-between;
    gap: 1.5em;
    padding: 0 1.5em;
    margin-top: 4em;
}

.main-body .article .section-inicio .capa-inicio .capa{
    width: 40%;
    display: flex;
    flex-direction: column;
    gap: 1.5em;
    position: relative;
}

.main-body .article .section-inicio .capa-inicio .capa .item-1{
    background: #fff;
    width: 100px;
    height: 2px;
}

.main-body .article .section-inicio .capa-inicio .capa .item-2 h1{
    font-size: 3em;
    font-weight: 400;
}

.main-body .article .section-inicio .capa-inicio .capa .item-3 h3{
    font-size: 2em;
    font-weight: 400;
}

.main-body .article .section-inicio .capa-inicio .capa .item-3 h3 span{
    color: rgb(94, 150, 255);
    font-weight: 700;
}

.main-body .article .section-inicio .capa-inicio .capa .item-4 p{
    line-height: 30px;
    text-align: justify;
}

.main-body .article .section-inicio .capa-inicio .capa .capa-base{
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.main-body .article .section-inicio .capa-inicio .capa .capa-base .title{
    background: rgba(24, 31, 45, 0.849);
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 0.7em;
    border-radius: 3px;
    padding: 1em;
    box-shadow: 1px 1px 1px rgb(14, 14, 14);
}

.main-body .article .section-inicio .capa-inicio .capa .capa-base .title h4{
    padding: 0;
}

.main-body .article .section-inicio .capa-inicio .capa .capa-base .title i{
    color: #ffd700;
}

.main-body .article .section-inicio .capa-inicio .capa .capa-base .content{
    display: flex;
    flex-direction: column;
    gap: 2em;
    background: rgba(24, 31, 45, 0.849);
    border-radius: 3px;
    padding: 1em;
    box-shadow: 1px 1px 1px rgb(14, 14, 14);
}

.main-body .article .section-inicio .capa-inicio .capa .capa-base div h4{
    font-size: 1.2em;
    padding-bottom: 10px;
}

.main-body .article .section-inicio .capa-inicio .capa .capa-base div p{
    font-size: 0.8em;
    line-height: 20px;
    text-align: justify;
}

.main-body .article .section-inicio .capa-inicio .capa .capa-base .redes-sociales{
    background: rgba(24, 31, 45, 0.849);
    padding: 1em;
    border-radius: 3px;
    display: flex;
    justify-content: center;
    gap: 2em;
    box-shadow: 1px 1px 1px rgb(14, 14, 14);
}

.main-body .article .section-inicio .capa-inicio .capa .capa-base .redes-sociales a i{
    color: #ffffff;
    font-size: 2em;
}

.article-body section .base-body{
    display: flex;
    justify-content: center;
    
    width: 1200px;
    padding: 0 1.5em;
}

.section-caja1, .section-caja2{
    display: flex;
    justify-content: center;
}

.section-caja1{
    background: rgb(32, 37, 48);
    height: 700px;
}

.section-caja2{
    height: 700px;
}